@import "_nulstyle.scss";

body {
   background: rgb(119,119,119);
   background: linear-gradient(125deg, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 100%);
}
.wrapper {
}

.tournament {

   &__table {
   }
}
.tour-table {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;

   width: 1030px;
   margin: 0 auto;
   color: #fff;
   background-color: grey;

   transform-origin: 0px 0px;
   transform: scale(1) translate(0px, 0px);

   cursor: grab;

   &__body {
      width: 50%;
      transform-origin: 0px 0px;
      transform: scale(1) translate(0px, 0px);

      position: relative;
      display: flex;
   }
   &__column {
      margin: 0px 50px 0px 0px;
   }

   &__stage {
   }

   &__para {
      display: flex;
      position: relative;
      flex-direction: column;
      margin: 0px 0px 40px 0px;

      &:hover {
         .bars {
            &__first::before {
               transform: scaleX(1);
               transition: all 0.23s linear 1.5s;
            }
            &__second::before {
               transform: scaleY(1);
               transition: all 0.4s linear 1.7s;
            }
            &__last::before {
               transform: scaleX(1);
               transition: all 0.2s linear 2.1s;
            }
         }
      }

      .bars {
         background: #fd7e09;
         // box-shadow: 0px 0px 3px #ecbe93;
         position: absolute;
         
         &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ecbe93;
         }

         &__first, &__last {
            width: 25px;
            height: 3px;
            &::before {
               transform: scaleX(0);
               transform-origin: left;
            }
         }

         &__first {
            z-index: 10;
            left: 100%;
            top: 50%;
            transform: translateY(-34%);
            &::before{
               transition: all 0.2s linear 0.4s;
            }
         }
      
         &__second {
            top: 0;
            left: 23.5px;
            height: 85px;
            width: 3px;
            
            &::before {
               transition: all 0.2s linear 0.2s;
               transform: scaleY(0);
               transform-origin: top;
            }
         }
      
         &__last {
            top: 83.5px;
            left: 0;
            &::before{
               transition: all 0.2s linear 0s;
            }
         }
      }
   }

   &__player {
   }
}
.stage {
   // background: rgba(20,20,20,.65);
   margin: 15px 0px 15px 0px;
   letter-spacing: 1px;
   font-size: 1.3em;
   display: flex;
   

   &__title {
   }

   &__hide {
   }
}
.player {
   flex: 1 1 auto;

   background: rgba(5, 5, 5, 0.65);
   border-radius: 4px;

   height: 50px;
   width: 240px;
   padding: 0px 15px;

   position: relative;
   


   &:first-child {
      margin: 0px 0px 30px 0px;
   }
   &:before,
   &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      top: 0;
      border-top: 50px solid #fd6b09;
      transform: scaleX(0);
      transition: all 0.4s ease 0.2s;
      
   }
   &:before {
      border-right: 120px solid transparent;
      transform-origin: left top;
      left: 0;
   }
   
   &:after {
      transform-origin: right top;
      border-left: 120px solid transparent;
      right: 0;
   }

   &:hover {
      transition: all 0.4s ease 0s;
      box-shadow: 0px 0px 3px #ecbe93;
      
      &:before, &:after { 
         transform: scaleX(1);
         
      }
   }

   &__stick {
      position: absolute;
      background: #fd7e09;
   }
   .stick-first {
      left: 50%;
      transform: translateX(-50%);
      width: 3px;
      height: 13.5px;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         transform: scaleY(0);

         transition: all 0.2s linear 1.2s;

         background: #ecbe93;
         // box-shadow: 0px 0px 3px #ecbe93;
      }
   }

   .stick-last {
      left: 0;
      width: 122px;
      height: 3px;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 0;

         transition: all 0.6s linear 0.6s;
         background: #ecbe93;
         // box-shadow: 0px 0px 3px #ecbe93;
      }
      
   }
   &:nth-child(even) {
      .stick-first {
         bottom: 100%;
         &::before {
            transform-origin: bottom;
         }
      }
      
      .stick-last {
         background: transparent;
         bottom: 100%;
      }
   }

   &:nth-child(odd)  { 
      .stick-first {
         top: 100%;
         &::before {
            transform-origin: top;
         }
      }

      .stick-last {
         top: 100%;
      }
   }

   &:hover {
      .stick-first::before {
         transition: all 0.4s ease 0.4s;
         transform: scaleY(1); 
      }
      .stick-last::before {
         transition: all 0.8s ease 0.8s;
         width: 100%;
      }
   }

   &__info {
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__name {
      display: flex;
      margin: 0px 20px 0px 0px;
   }

   &__link {
      width: 20px;
      height: 20px;
      display: block;
      margin: 0px 10px 0px 0px;
      background-color: #fff;
   }

   &__score {
   }

   &__unknown {
   }
}
.member1 {
}
.member2 {
}

